body {
    font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    text-align: center;
  }
  
  h1 {
    font: normal 22px/normal Tahoma, Geneva, sans-serif;
    color: rgba(128,128,128,1);
    text-align: left;
  }
  
  h2 {
    font: normal 22px/normal Tahoma, Geneva, sans-serif;
    color: rgba(128,128,128,1);
    text-align: center;
  }
  
  overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
  
  input {
    border-radius: 5px;
    margin: 4px;
  }
  
  label {
    font: normal 16px/normal Tahoma, Geneva, sans-serif;
    color: rgba(128,128,128,1);
    margin: 4px;
  }
  
  error {
    font: normal 22px/normal Tahoma, Geneva, sans-serif;
    color: rgb(255, 91, 91);
    text-align: left;
  }
  
  button {
    width: 74px;
    padding: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 17px;
    font: normal 14px/normal Tahoma, Geneva, sans-serif;
    color: rgba(104,104,104,1);
    background: rgba(255,255,255,1);
    outline:none;
  }
  
  img {
    margin: 20px 0;
    max-width: 200px;
  }